<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
<link rel="stylesheet" href="~/css/newsdemo.css" type="text/css">
<title>newsarticledemo</title>
</head>

<body>

	<div class="main">
		<div class="container">
			<div class="tab-content">
				<div class="tab-pane active" id="page1" role="tabpanel">
					<div class="feature">
					<h2>爽玩主流游戏 惠普光影精灵III代绿刃版游戏测试</h2>
					<h5>2018-03-29 05:52:00</h5>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为高性价比游戏本的代表，惠普光影精灵系列从一问世就受到学生、年轻白领等群体的喜爱。惠普光影精灵III代绿刃版是光影精灵系列最新产品，其型号为Pavilion Power 15-cb075TX的机型拥有i7-7700HQ加GTX1050的组合，在游戏性能方面有着不俗表现。本文主要为大家揭秘惠普光影精灵III代绿刃版的游戏性能到底有多强。
					</p>
					<img src="~/images/news2.1.jpg">
					<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在对惠普光影精灵III代绿刃版进行测试之前，笔者先对这款产品的特点进行简单介绍，了解产品属性的朋友可以直接跳转第二页图形理论性能测试部分。</p>
					<h3>黑绿配色彰显游戏特性</h3>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;惠普光影精灵III代绿刃版 一改之前银色配色，使用黑色作为主色调，并加上绿色细节（键盘背光和触控板包边）作为点缀，视觉冲击感十分强烈。而且该机C面为金属材质，表面有纵向的金属拉丝纹理，品质感突出；键盘不仅手感好、有数字键区，还拥有绿色背光，尤其是在夜晚使用的时候，幽幽绿光提供了极其出色的视觉感受。这种搭配在这个价位的游戏本中是十分少见的，足见惠普光影精灵III代绿刃版在设计方面下了不少功夫，为用户带来不一样的有个性游戏本设计。</p>
					<img src="~/images/news2.2.jpg">
					<h3>独具特色的扶梯式翘臀转轴设计</h3>
					<br>
					<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A面转轴处为向下弯曲的设计，官方称之为扶梯式转轴，在转动屏幕的时候，弯曲的位置能够托起机身，使得机身与水平面呈现一定角度。在弯曲处有专门的橡胶垫脚设计，避免磨损机身。这种设计的好处在于，抬高的机身使得键盘面呈现一定角度，玩游戏的舒适程度有明显提升，同时还能够增大底部进风量，有助于机身散热，可谓一举两得。
					</p>
					<br>
					<h3>双风扇双铜管设计</h3>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;惠普光影精灵III代绿刃版的整机性能十分强悍，为了让整机发挥出全部性能发同时也能够良好散热，惠普光影精灵III代绿刃版采用了双风扇双铜管的散热模组设计，能够在最快的时间内将机身内部温度降下来，保证整机性能的稳定发挥。
					</p>
					<img src="~/images/news2.3.jpg">
					<br>
					<h3>i7-7700HQ加GTX1050</h3>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为一款游戏本，惠普光影精灵III代绿刃版的配置是十分强悍的，其采用了高端游戏本中经常出现的i7-7700HQ，同时采用了英伟达中端独立显卡GTX1050，游戏性能居于目前笔记本游戏显卡的中上水平，应对绝大多数游戏是完全没有问题的。</p>
					<img src="~/images/news2.4.jpg">
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以上是惠普光影精灵III代绿刃版的主要特点。下面进行专门针对显卡的理论和实际游戏测试。</p></div>
				</div>
				<div class="tab-pane" id="page2">
					<div class="feature">
					<h3>图形理论性能测试</h3>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GTX1050全称NVIDA GeForce GTX 1050，其采用Pascal架构核心，拥有640个流处理器，核心频率为1354MHz，显存位宽128bit、显存容量2GB、显存类型为GDDR5，这块显卡是用来取代上一代GTX960M独显的。
					</p>
					<img src="~/images/news2.5.jpg">
					<h4>显卡参数</h4>
					<br>
					<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;理论性能测试部分，笔者使用3DMark对这款显卡进行了测试。测试部分主要为两项，第一项为Cloud Gate，主要检测显卡在应对普通游戏时的性能表现；第二项为Fire Strike，主要测试显卡在高压力下的性能表现。</p>
					<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首先是Cloud Gate测试项，GTX1050最终得分19545分，其中显卡得分为35038分；其次是Fire Strike测试项，GTX1050最终得分4657分，其中显卡得分为5017分。
					</p>
					<img src="~/images/news2.6.jpg">
					<h4>Cloud Gate测试分数</h4>
					<img src="~/images/news2.7.jpg">
					<h4>Fire Strike测试分数</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于这个得分，一些朋友可能有点看不懂。为了更为直观的对比，笔者加入了GTX960M和GTX965M的测试数据，对比项主要为各测试项下的显卡得分。</p>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从对比数据上看，GTX1050的性能要远好于GTX960M，但与GTX965M还有一定的距离。其中GTX1050的性能领先GTX960M大约13%，落后GTX965M大约7%左右。性能定位大约是目前的中端偏上水准。</p>
					<img src="~/images/news2.8.jpg">
					<h4>与GTX960M、GTX965M对比</h4>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从理论测试来看，GTX1050的性能已经超越了去年的准中端显卡GTX960M，而且与去年中高端显卡GTX965M的性能相差不大。可见如果把惠普光影精灵III代绿刃版放在9系显卡时代，这款产品可真是名副其实的中高端游戏本了。</p>
				</div></div>
				<div class="tab-pane" id="page3">
					<h3>游戏测试</h3>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了验证惠普光影精灵III代绿刃版在实际游戏中的性能表现，笔者选取了两款热门的3A大作进行测试，这两款游戏分别为《古墓丽影：崛起》和《最终幻想15》。考虑到GTX1050的定位，这两款游戏在画面设置方面为中等。下面是《古墓丽影：崛起》的测试。</p>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这两天电影《古墓丽影:源起之战》的热映让大家又将目光放到了这一系列游戏上。这部电影改编自《古墓丽影9》，电影剧情几乎照搬游戏中的设定。《古墓丽影：崛起》是《古墓丽影9》的下一步作品。作为一款3A大作，对于显卡要求是非常高的。</p>
					<img src="~/images/news2.9.jpg">
					<h4>画质设置</h4>
					<img src="~/images/news2.10.jpg">
					<h4>画质设置</h4>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;画质设置方面，由于《古墓丽影：崛起》有多个画面预设可选，所以我们设置物理分辨率为1920×1080，反锯齿为FXAA，关闭垂直同步；图形设置方面设为中等，使用游戏中自带的Benchmark进行测试。</p>
					<img src="~/images/news2.11.jpg">
					<h4>惠普光影精灵III代绿刃版跑出了平均42.95帧的成绩</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从测试结果来看，惠普光影精灵III代绿刃版跑出了平均42.95帧的成绩，其中山顶场景平均帧为49.61帧，叙利亚场景平均帧为35.49帧，地热山谷场景平均帧为42.52帧。这项测试结果表明惠普光影精灵III代绿刃版能够流畅运行《古墓丽影：崛起》，看来惠普光影精灵III代绿刃版应对3A大作的表现还是不错的。</p>
				</div>
				<div class="tab-pane" id="page4">
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《最终幻想15》作为一款今年年初刚刚登陆PC的开年大作，对于电脑性能的要求几乎是变态级别的存在。用这款游戏主要是为了测试GTX1050的极限性能。画质设置方面，笔者使用《最终幻想15》的Benchmark进行测试，物理分辨率为1920×1080，画质设置采用系统给出的Lite Quality，并全屏运行。</p>
					<img src="~/images/news2.12.jpg">
					<h4>实测画面</h4>
					<img src="~/images/news2.13.jpg">
					<h4>实测画面</h4>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其中Benchmark分为四段，每一段都有一定的剧情。虽然画质选择的为Lite Quality，但整体画面表现还是非常出众的。从整个Benchmark的运行阶段来看，整个画面比较流畅，而且非常稳定，并没有出现卡顿、撕裂的情况。</p>
					<img src="~/images/news2.14.jpg">
					<h4>实测画面</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最终GTX1050测试得分为3701分，系统给出定级为Standard。从最终的得分来看，GTX1050是可以在1080P画质下运行《最终幻想15》的，这对于一台高性价比游戏本来说确实非常不错。</p>
					<img src="~/images/news2.15.jpg">
					<h4>最终得分为3701分</h4>
					<h3>评测总结：</h3>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为一款高性价比的游戏本，惠普光影精灵III代绿刃版的实际游戏表现确实非常不错。综合理论测试和实际游戏测试来看，惠普光影精灵III代绿刃版的显卡性能基本能够满足一般游戏玩家的需求，尤其是以网络游戏为主的玩家。考虑到这款产品的售价，相信这样一款高性价比的游戏本一定会成为学生和年轻白领的首选。</p>
				</div>
			</div>
			<div class="ul_pagination">
				<ul class="pagination" role="tablist">
					<li class="active"><a href="#page1" role="tab" data-toggle="tab">1</a></li>
					<li><a href="#page2" role="tab" data-toggle="tab">2</a></li>
					<li><a href="#page3" role="tab" data-toggle="tab">3</a></li>
					<li><a href="#page4" role="tab" data-toggle="tab">4</a></li>
				</ul>
			</div>
		</div>
	</div>


<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) --> 
<script src="~/lib/jquery/jquery-1.11.0.min.js"></script> 
<!-- 包括所有已编译的插件 --> 
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
