@using ComputerWeb.Models.AccountViewModels
@model RegisterViewModel

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
<link rel="stylesheet" href="~/css/register.css" type="text/css">
<title>Register</title>
</head>

<body>


<!--注册-->
<div>
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 form-box">
						<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" role="form" method="post" class="registration-form">
							<div class="form-top">
								<div class="form-top-left">
									<h3>注册</h3>
									<p>请输入相关信息以完成注册：</p>
								</div>
								<div class="form-top-right">
									<i class="fa fa-user"></i>
								</div>
							</div>
                            <div class="form-bottom">
                                <div class="form-group">
                                    <label asp-for="Cname" class="sr-only" for="Cname">用户名</label>
                                    <input asp-for="Cname" type="text" name="Cname" placeholder="user name..." class="form-last-name form-control" id="Cname" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="sr-only" for="Email">电子邮箱</label>
                                    <input asp-for="Email" type="text" name="Email" placeholder="address@site.com..." class="form-email form-control" id="form-email" multiple>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="sr-only" for="Password">密码</label>
                                    <input asp-for="Password" type="password" name="Password" placeholder="Password..." class="form-password form-control" id="form-password" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="sr-only" for="ConfirmPassword">确认密码</label>
                                    <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" placeholder="Repeat Password..." class="form-repeat-password form-control" id="form-repeat-password" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MobilePhone" class="sr-only" for="MobilePhone">电话号码</label>
                                    <input asp-for="MobilePhone" type="text" name="MobilePhone" placeholder="PhoneNumber..." class="form-email form-control" id="form-email" multiple>
                                </div>
                                <button type="submit" class="btn btn-block">注册</button>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
	
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) --> 
<script src="~/lib/jquery/jquery-1.11.0.min.js"></script> 
<!-- 包括所有已编译的插件 --> 
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
