<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
<link rel="stylesheet" href="css/news.css" type="text/css">
<title>News</title>
</head>

<body>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
			<div class="panel-group" id="panel-680560">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-680560" href="#panel-element-844787">商品1</a>
					</div>
					<div id="panel-element-844787" class="panel-collapse collapse in">
						<div class="panel-body">
						  <p><img src="images/5abe252aN66d05c06.jpg" width="220" height="220"> </p>
						  <p><a href="css/spgmy.css" >华硕 XXXXXX</a>  </p>
						  <p>	 <button type="button" class="btn btn-link btn-default">删除</button> &nbsp;&nbsp;	 <button type="button" class="btn btn-link btn-default">结算该商品</button>
					      </p>
					
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-680560" href="#panel-element-873168">商品2</a>
					</div>
					<div id="panel-element-873168" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
                <div class="panel panel-default">
				<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-680560" href="#panel-element-873169">商品3</a>
				</div>
				<div id="panel-element-873169" class="panel-collapse collapse">
				<div class="panel-body">
							Anim pariatur cliche...
				</div>
				</div>
				</div>
                
                                <div class="panel panel-default">
				<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-680560" href="#panel-element-873170">商品4</a>
				</div>
				<div id="panel-element-873170" class="panel-collapse collapse">
				<div class="panel-body">
							Anim pariatur cliche...
				</div>
				</div>
				</div>
			</div>
 
			</div>

		<div class="col-md-4 column">
			<div class="panel-group" id="panel-259571">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-259571" href="#panel-element-745556">商品5</a>
					</div>
					<div id="panel-element-745556" class="panel-collapse collapse in">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-259571" href="#panel-element-342553">商品6</a>
					</div>
					<div id="panel-element-342553" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
                <div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-259571" href="#panel-element-342554">商品7</a>
					</div>
					<div id="panel-element-342554" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
                
                
                <div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-259571" href="#panel-element-342555">商品8</a>
					</div>
					<div id="panel-element-342555" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
                
                
                
                
			</div>
			
		</div>
		<div class="col-md-4 column">
			
            <div class="panel-group" id="panel-556682">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-556682" href="#panel-element-489132">商品9</a>
					</div>
					<div id="panel-element-489132" class="panel-collapse collapse in">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-556682" href="#panel-element-962542">商品10</a>
					</div>
					<div id="panel-element-962542" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
                
                <div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-556682" href="#panel-element-962543">商品11</a>
					</div>
					<div id="panel-element-962543" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
                
                <div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-556682" href="#panel-element-962544">商品12</a>
					</div>
					<div id="panel-element-962544" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
			
            
            
            
		</div>
		<p>	 <button type="button" class="btn btn-link btn-default">全部结算</button></p>
	</div>
</div>

	
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) --> 
<script src="lib/jquery/jquery-1.11.0.min.js"></script> 
<!-- 包括所有已编译的插件 --> 
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
