<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
<link rel="stylesheet" href="~/css/spiceFood.css" type="text/css">
<title>Demo</title>
</head>

<body>

    <div class="global-header clearfix col-lg-11">
        <div class="search-box">
            <form action="//search.zol.com.cn/s/all.php">
                <input id="J_keywords" type="text" class="skey" name="kword" value="请输入您要找的产品" data-source="" autocomplete="off" style="color: rgb(153, 153, 153);">
                <input type="submit" class="sbtn" value="搜索">
            </form>
        </div>
    </div>

    <div class="s_condition clearfix col-lg-11" id="s_filter">
        <div class="title_ser col-lg-12">
            <strong>笔记本电脑高级搜索</strong><span></span>
        </div>
        <dl id="manuSer">
            <dt>品牌</dt>
            <dd class="col-lg-11">
                <label for="manu_160" title="联想">
                    <input type="checkbox" id="manu_160" value="m160">联想
                </label>
                <label for="manu_223" title="惠普">
                    <input type="checkbox" id="manu_223" value="m223">惠普
                </label><label for="manu_21" title="戴尔">
                    <input type="checkbox" id="manu_21" value="m21">戴尔
                </label>
                <label for="manu_544" title="苹果">
                    <input type="checkbox" id="manu_544" value="m544">苹果
                </label>
                <label for="manu_227" title="华硕">
                    <input type="checkbox" id="manu_227" value="m227">华硕
                </label>
                <label for="manu_1191" title="神舟">
                    <input type="checkbox" id="manu_1191" value="m1191">神舟
                </label>
                <label for="manu_32108" title="ThinkPad">
                    <input type="checkbox" id="manu_32108" value="m32108">ThinkPad
                </label>
                <label for="manu_218" title="Acer宏碁">
                    <input type="checkbox" id="manu_218" value="m218">Acer宏碁
                </label>
                <label for="manu_35578" title="机械革命">
                    <input type="checkbox" id="manu_35578" value="m35578">机械革命
                </label>
                <label for="manu_98" title="三星">
                    <input type="checkbox" id="manu_98" value="m98">三星
                </label>
                <label for="manu_35393" title="雷神">
                    <input type="checkbox" id="manu_35393" value="m35393">雷神
                </label>
                <label for="manu_33520" title="Alienware">
                    <input type="checkbox" id="manu_33520" value="m33520">Alienware
                </label>
                <label for="manu_36359" title="机械师">
                    <input type="checkbox" id="manu_36359" value="m36359">机械师
                </label>
                <label for="manu_364" title="微软">
                    <input type="checkbox" id="manu_364" value="m364">微软
                </label>
                <label for="manu_34645" title="小米">
                    <input type="checkbox" id="manu_34645" value="m34645">小米
                </label>
                <label for="manu_613" title="华为">
                    <input type="checkbox" id="manu_613" value="m613">华为
                </label>
                <label for="manu_133" title="MSI微星">
                    <input type="checkbox" id="manu_133" value="m133">MSI微星
                </label>
                <label for="manu_50840" title="荣耀">
                    <input type="checkbox" id="manu_50840" value="m50840">荣耀
                </label>
            </dd>
        </dl>

        <dl>
            <dt>价格</dt>
            <dd class="col-lg-11">
                <label for="price_0" title="2499元以下">
                    <input type="checkbox" id="price_0" value="g0">2499元以下
                </label>
                <label for="price_2500" title="2500-3499元">
                    <input type="checkbox" id="price_2500" value="g2500">2500-3499元
                </label>
                <label for="price_3500" title="3500-3999元">
                    <input type="checkbox" id="price_3500" value="g3500">3500-3999元
                </label>
                <label for="price_4000" title="4000-4999元">
                    <input type="checkbox" id="price_4000" value="g4000">4000-4999元
                </label>
                <label for="price_5000" title="5000-5999元">
                    <input type="checkbox" id="price_5000" value="g5000">5000-5999元
                </label>
                <label for="price_6000" title="6000-7999元">
                    <input type="checkbox" id="price_6000" value="g6000">6000-7999元
                </label>
                <label for="price_8000" title="8000元以上">
                    <input type="checkbox" id="price_8000" value="g8000">8000元以上
                </label>
            </dd>
        </dl>

        <dl>
            <dt>屏幕尺寸</dt>
            <dd class="col-lg-11">
                <label for="param_861" title="17英寸及以上">
                    <input type="checkbox" id="param_861" value="s861">17英寸及以上
                </label>
                <label for="param_860" title="15英寸">
                    <input type="checkbox" id="param_860" value="s860">15英寸
                </label>
                <label for="param_859" title="14英寸">
                    <input type="checkbox" id="param_859" value="s859">14英寸
                </label>
                <label for="param_858" title="13英寸">
                    <input type="checkbox" id="param_858" value="s858">13英寸
                </label>
                <label for="param_857" title="12英寸">
                    <input type="checkbox" id="param_857" value="s857">12英寸
                </label>
                <label for="param_856" title="11英寸及以下">
                    <input type="checkbox" id="param_856" value="s856">11英寸及以下
                </label>
            </dd>
        </dl>

        <dl>
            <dt>CPU系列</dt>
            <dd class="col-lg-11">
                <label for="param_7640" title="酷睿i9">
                    <input type="checkbox" id="param_7640" value="s7640">酷睿i9
                </label>
                <div class="group">
                    <label for="param_4503" title="酷睿i7">
                        <input type="checkbox" id="param_4503" value="s4503">酷睿i7
                    </label>
                    <label for="param_7344" title="八代i7">
                        <input type="checkbox" id="param_7344" value="s7344">八代i7
                    </label>
                    <label for="param_6989" title="七代i7">
                        <input type="checkbox" id="param_6989" value="s6989">七代i7
                    </label>
                    <label for="param_6323" title="六代i7">
                        <input type="checkbox" id="param_6323" value="s6323">六代i7
                    </label>
                    <label for="param_6111" title="五代i7">
                        <input type="checkbox" id="param_6111" value="s6111">五代i7
                    </label>
                    <label for="param_4703" title="四代i7">
                        <input type="checkbox" id="param_4703" value="s4703">四代i7
                    </label>
                </div>
                <div class="group">
                    <label for="param_4024" title="酷睿i5">
                        <input type="checkbox" id="param_4024" value="s4024">酷睿i5
                    </label>
                    <label for="param_7345" title="八代i5">
                        <input type="checkbox" id="param_7345" value="s7345">八代i5
                    </label>
                    <label for="param_6990" title="七代i5">
                        <input type="checkbox" id="param_6990" value="s6990">七代i5
                    </label>
                    <label for="param_6324" title="六代i5">
                        <input type="checkbox" id="param_6324" value="s6324">六代i5
                    </label>
                    <label for="param_6112" title="五代i5">
                        <input type="checkbox" id="param_6112" value="s6112">五代i5
                    </label>
                    <label for="param_4706" title="四代i5">
                        <input type="checkbox" id="param_4706" value="s4706">四代i5
                    </label>
                </div>
                <div class="group">
                    <label for="param_4252" title="酷睿i3">
                        <input type="checkbox" id="param_4252" value="s4252">酷睿i3
                    </label>
                    <label for="param_7700" title="八代i3">
                        <input type="checkbox" id="param_7700" value="s7700">八代i3
                    </label>
                    <label for="param_7343" title="七代i3">
                        <input type="checkbox" id="param_7343" value="s7343">七代i3
                    </label>
                    <label for="param_6327" title="六代i3">
                        <input type="checkbox" id="param_6327" value="s6327">六代i3
                    </label>
                    <label for="param_6113" title="五代i3">
                        <input type="checkbox" id="param_6113" value="s6113">五代i3
                    </label>
                    <label for="param_4723" title="四代i3">
                        <input type="checkbox" id="param_4723" value="s4723">四代i3
                    </label>
                </div>
                <label for="param_6114" title="酷睿M">
                    <input type="checkbox" id="param_6114" value="s6114">酷睿M
                </label>
                <label for="param_1248" title="其它Intel处理器">
                    <input type="checkbox" id="param_1248" value="s1248">其它Intel处理器
                </label>
                <label for="param_2634" title="AMD APU">
                    <input type="checkbox" id="param_2634" value="s2634">AMD APU
                </label>
                <label for="param_2636" title="其它AMD处理器">
                    <input type="checkbox" id="param_2636" value="s2636">其它AMD处理器
                </label>
            </dd>
        </dl>

        <dl>
            <dt>显卡类型</dt>
            <dd class="col-lg-11">
                <label for="param_5065" title="发烧级显卡">
                    <input type="checkbox" id="param_5065" value="s5065">发烧级显卡
                </label>
                <label for="param_5064" title="性能级显卡">
                    <input type="checkbox" id="param_5064" value="s5064">性能级显卡
                </label>
                <label for="param_2111" title="入门级显卡">
                    <input type="checkbox" id="param_2111" value="s2111">入门级显卡
                </label>
                <label for="param_5066" title="专业级图形显卡">
                    <input type="checkbox" id="param_5066" value="s5066">专业级图形显卡
                </label>
                <label for="param_1951" title="双显卡">
                    <input type="checkbox" id="param_1951" value="s1951">双显卡
                </label>
                <label for="param_1256" title="核心显卡">
                    <input type="checkbox" id="param_1256" value="s1256">核心显卡
                </label>
            </dd>
        </dl>

        <dl>
            <dt>内存容量</dt>
            <dd class="col-lg-11">
                <label for="param_6648" title="32GB及以上">
                    <input type="checkbox" id="param_6648" value="s6648">32GB及以上
                </label>
                <label for="param_5730" title="16GB">
                    <input type="checkbox" id="param_5730" value="s5730">16GB
                </label>
                <label for="param_4108" title="8GB">
                    <input type="checkbox" id="param_4108" value="s4108">8GB
                </label>
                <label for="param_2192" title="4GB">
                    <input type="checkbox" id="param_2192" value="s2192">4GB
                </label>
                <label for="param_108" title="2GB">
                    <input type="checkbox" id="param_108" value="s108">2GB
                </label>
            </dd>
        </dl>

        <dl>
            <dt>硬盘容量</dt>
            <dd class="col-lg-11">
                <label for="param_2326" title="1TB及以上">
                    <input type="checkbox" id="param_2326" value="s2326">1TB及以上
                </label>
                <label for="param_1047" title="500GB">
                    <input type="checkbox" id="param_1047" value="s1047">500GB
                </label>
                <label for="param_855" title="含512GB SSD">
                    <input type="checkbox" id="param_855" value="s855">含512GB SSD
                </label>
                <label for="param_854" title="含256GB SSD">
                    <input type="checkbox" id="param_854" value="s854">含256GB SSD
                </label>
                <label for="param_6649" title="含128GB SSD">
                    <input type="checkbox" id="param_6649" value="s6649">含128GB SSD
                </label>
                <label for="param_852" title="其它硬盘容量">
                    <input type="checkbox" id="param_852" value="s852">其它硬盘容量
                </label>
            </dd>
        </dl>

        <dl>
            <dt>产品类型</dt>
            <dd class="col-lg-11">
                <label for="param_5900" title="商用">
                    <input type="checkbox" id="param_5900" value="p5900">商用
                </label>
                <label for="param_5901" title="家用">
                    <input type="checkbox" id="param_5901" value="p5901">家用
                </label>
            </dd>
        </dl>

        <dl>
            <dt>CPU型号</dt>
            <dd class="col-lg-11">
                <label for="param_7642" title="酷睿i9 8950HK">
                    <input type="checkbox" id="param_7642" value="s7642">酷睿i9 8950HK
                </label>
                <label for="param_7641" title="酷睿i7 8750H">
                    <input type="checkbox" id="param_7641" value="s7641">酷睿i7 8750H
                </label>
                <label for="param_7354" title="酷睿i7 8550U">
                    <input type="checkbox" id="param_7354" value="s7354">酷睿i7 8550U
                </label>
                <label for="param_7644" title="酷睿i5 8300H">
                    <input type="checkbox" id="param_7644" value="s7644">酷睿i5 8300H
                </label>
                <label for="param_7701" title="酷睿i3 8100">
                    <input type="checkbox" id="param_7701" value="s7701">酷睿i3 8100
                </label>
                <label for="param_7350" title="酷睿i5 8250U">
                    <input type="checkbox" id="param_7350" value="s7350">酷睿i5 8250U
                </label>
                <label for="param_7294" title="酷睿i7 7820HK">
                    <input type="checkbox" id="param_7294" value="s7294">酷睿i7 7820HK
                </label>
                <label for="param_7293" title="酷睿i7 7700HQ">
                    <input type="checkbox" id="param_7293" value="s7293">酷睿i7 7700HQ
                </label>
                <label for="param_7292" title="酷睿i5 7300HQ">
                    <input type="checkbox" id="param_7292" value="s7292">酷睿i5 7300HQ
                </label>
                <label for="param_6992" title="酷睿i7 7500U">
                    <input type="checkbox" id="param_6992" value="s6992">酷睿i7 7500U
                </label>
                <label for="param_6991" title="酷睿i5 7200U">
                    <input type="checkbox" id="param_6991" value="s6991">酷睿i5 7200U
                </label>
                <label for="param_6330" title="酷睿i7 6820HK">
                    <input type="checkbox" id="param_6330" value="s6330">酷睿i7 6820HK
                </label>
                <label for="param_6614" title="酷睿i7 6700K">
                    <input type="checkbox" id="param_6614" value="s6614">酷睿i7 6700K
                </label>
                <label for="param_6435" title="酷睿i7 6700HQ">
                    <input type="checkbox" id="param_6435" value="s6435">酷睿i7 6700HQ
                </label>
                <label for="param_6613" title="酷睿i7 6600U">
                    <input type="checkbox" id="param_6613" value="s6613">酷睿i7 6600U
                </label>
                <label for="param_6612" title="酷睿i7 6560U">
                    <input type="checkbox" id="param_6612" value="s6612">酷睿i7 6560U
                </label>
                <label for="param_6326" title="酷睿i7 6500U">
                    <input type="checkbox" id="param_6326" value="s6326">酷睿i7 6500U
                </label>
                <label for="param_6436" title="酷睿i5 6300HQ">
                    <input type="checkbox" id="param_6436" value="s6436">酷睿i5 6300HQ
                </label>
            </dd>
        </dl>

        <dl>
            <dt>核心/线程数</dt>
            <dd class="col-lg-11">
                <label for="param_4313" title="四核心">
                    <input type="checkbox" id="param_4313" value="s4313">四核心
                </label>
                <label for="param_4312" title="双核心">
                    <input type="checkbox" id="param_4312" value="s4312">双核心
                </label>
            </dd>
        </dl>

        <dl>
            <dt>显存容量</dt>
            <dd class="col-lg-11">
                <label for="param_6468" title="8GB">
                    <input type="checkbox" id="param_6468" value="s6468">8GB
                </label>
                <label for="param_6467" title="6GB">
                    <input type="checkbox" id="param_6467" value="s6467">6GB
                </label>
                <label for="param_4109" title="4GB">
                    <input type="checkbox" id="param_4109" value="s4109">4GB
                </label>
                <label for="param_2194" title="3GB">
                    <input type="checkbox" id="param_2194" value="s2194">3GB
                </label>
                <label for="param_2195" title="2GB">
                    <input type="checkbox" id="param_2195" value="s2195">2GB
                </label>
                <label for="param_2196" title="1GB">
                    <input type="checkbox" id="param_2196" value="s2196">1GB
                </label>
            </dd>
        </dl>

        <div class="mg15 clearfix">
            <form class="serform l" id="show_form" action="/index.php" method="get" target="_self" onsubmit="return false;">
                <input id="svsub" type="submit" value="查看结果" style="display: block;">
            </form>
        </div>
    </div>
    <div class="m-grid" data-spm="">
        <div class="grid-container row">
            <div class="grid-item col">
                <div class="grid-panel">
                    <div class="img-box col-lg-11 col-lg-offset-1">
                        <span class="special-tag-cont"></span>
                        <span class="prod-tag icon-supple-4-ishot"></span>
                        <a class="img-a" trace="vertical_spu" trace-idx="0" href="#" target="_blank">
                            <img class="search img" src="~/images/53ce1aba44242.jpg" width="180px" height="180px">
                        </a>
                    </div>
                    <div class="info-cont">
                        <div class="title-row  col-lg-11 col-lg-offset-1">
                            <a class="product-title" trace="vertical_spu" trace-idx="0" title="外星人" href="#" target="_blank">
                                外星人
                                <span class="feature">
                                    <span class="feature-item">发烧级显卡</span>，
                                    <span class="feature-item">背光键盘</span>，
                                    <span class="feature-item">IPS屏</span>
                                </span>
                            </a>
                        </div>
                        <div class="sale-row row">
                            <div class="col col-lg-11 col-lg-offset-1">
                                <span class="price g_price g_price-highlight col-lg-11 ">
                                    <span>¥</span><strong>5172</strong>
                                </span>
                            </div>
                        </div>
                        <div class="info-row seller col-lg-11 col-lg-offset-1">
                            <a trace="vertical_seller" class="seller-link" href="#" target="_blank">购买</a>
                            <a trace="vertical_seller" class="seller-link" href="#">加入购物车</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="~/lib/jquery/dist/jquery-1.11.0.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
